#locations {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 40px;
  justify-content: center;
  padding: 50px 50px;
  max-width: 1100px;
  margin: 0 auto;
}

.locations-heading {
  justify-self: center;
  align-self: center;
  grid-column: 1 / -1;
}

#locations > * {
  padding: 0;
}

.thumbnail {
  width: 100%;
  max-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.thumbnail-image {
  width: 100%;
}

.caption {
  width: 100%;
  margin-top: -15%;
}

