.newsletter {
  padding: 75px 0;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-top: 1px solid var(--gray);
}

#newsletter-form {
  display: inline-block;
  margin: 20px auto;
  width: 100vw;
}

.newsletter-input {
  width: 350px;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid var(--gray);
}

.newsletter-button {
  background-color: var(--dark-slate-blue);
  color: #ffffff;
  padding: 20px 40px;
  border-radius: 50px;
  font-weight: 700;
  margin-left: -30px;
  border: none;
  cursor: pointer;
}