:root {
  --dark-slate-blue: #1e3656;
  --light-sage: #f1faef;
  --faded-red: #e43c4b;
  --gray: #d8d8d8;
  --dull-blue: #487b9b;
}


h1 {
  font-size: 50px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  letter-spacing: 0.6px;
}

h2 {
  font-size: 32px;
  font-weight: 700;
  color: var(--faded-red);
  text-align: center;
  letter-spacing: 0.4px;
  text-transform: uppercase;

}

h3 {
  font-size: 24px;
  font-weight: 700;
  color: #272727;
  letter-spacing: 0.3px;

}

h4 {
  font-size: 20px;
  font-weight: 500;
  color: #272727;
  letter-spacing: 0.2px;
}

h5 {
  font-size: 18px;
  font-weight: 700;
  color: #413d3d;
  text-align: center;
  letter-spacing: 0.2px;
}

p {
  font-size: 16px;
  font-weight: 400;
  color: var(--dark-slate-blue);
  letter-spacing: 0.2px;
}

caption {
  font-size: 14px;
  color: #7c7c7c;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.2px;
}

section {
  display:grid;
  grid-template-columns: 200px 1fr 200px 1fr;
  grid-gap: 40px;
  padding: 150px 50px;
}
